<h3><%= @event.name %></h3>
<p>
<% @event.groups.each do |g| %>
  <%= g.name %>
<% end %>
</p>
<div><%= @event.category_name %></div>
<div><%= @event.description %></div>
<div><%= image_tag @event.logo.url(:medium) %></div>

<div><%= link_to 'Back to index', events_path %></div>

<div id="likebutton">
	<% if current_user.liked_event?(@event) %>
    <%= button_to 'unlike', like_event_path(@event), :remote =>true %>		
	<%else%>
    <%= button_to 'like', like_event_path(@event), :remote => true %>
	<%end%>
</div>